.input-container {
    position: relative; /* Set position relative for absolute positioning of button */
  }
  
  #showPass {
    position: absolute;
    left: 45%;
    top: 73.4%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    #showPass {
      right: 0;
      background: transparent;
      border: none;
    }
  }
  
  @media (max-width: 480px) {
    #showPass {
      right: 3px;
      /* transform: translateY(-50%);  */
      background: transparent;
      border: none;
    }
  }
  